<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hs.solutions.hstimecheck_2_0">
    <!-- NOTIFICaÇAO -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- CÂMERA -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- ANDROID 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- ANDROID 12 OU MENOR -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".HsTimeCheckApp"
        android:label="HsTimeCheck"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.HsTimeCheck"
        android:forceDarkAllowed="false">

    <activity
            android:name="com.hs.solutions.hstimecheck_2_0.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.HsTimeCheck.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.hs.solutions.hstimecheck_2_0.detail.ProdutoDetalheActivity" />
        <activity android:name="com.hs.solutions.hstimecheck_2_0.ui.FullImageActivity" />
        <activity android:name="com.hs.solutions.hstimecheck_2_0.aprovacao.AprovacaoComercialActivity"/>
        <activity android:name="com.hs.solutions.hstimecheck_2_0.ui.PainelOperacionalActivity"/>
        <activity android:name="com.hs.solutions.hstimecheck_2_0.ui.TelaListaFiltradaActivity"/>
        <activity android:name="com.hs.solutions.hstimecheck_2_0.scanner.ScannerActivity" />
        <activity android:name="com.hs.solutions.hstimecheck_2_0.ui.TelaPrincipalActivity" />
        <activity android:name="com.hs.solutions.hstimecheck_2_0.cadastro.CadastroProdutoActivity" />
        <activity android:name="com.hs.solutions.hstimecheck_2_0.configuracoes.ConfiguracoesSistemaActivity"/>
        <activity android:name="com.hs.solutions.hstimecheck_2_0.historico.HistoricoGeralActivity"/>
        <activity android:name="com.hs.solutions.hstimecheck_2_0.vencendo.ProdutosVencendoActivity"/>
        <activity android:name="com.hs.solutions.hstimecheck_2_0.sobre.SobreActivity"/>
       <activity android:name="com.hs.solutions.hstimecheck_2_0.estoque.VerificacaoEstoqueActivity"/>
       <activity android:name="com.hs.solutions.hstimecheck_2_0.trabalhando_preco.TrabalhandoPrecoActivity"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
