<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hs.solutions.Hstimecheck">

    <application
        android:label="HsTimeCheck"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.HsTimeCheck">

        <activity android:name="com.hs.solutions.Hstimecheck.detail.ProdutoDetalheActivity" />

        <activity
            android:name="com.hs.solutions.Hstimecheck.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
